<!DOCTYPE html>
<html>
<head>
<title>Add Student</title>
<style>
body {font-family:Arial;}
.container {width:300px; margin:auto; margin-top:50px;}
input,button {width:100%; padding:10px; margin:10px;}
button {background:#4facfe; color:white;}
</style>
</head>
<body>

<div class="container">
<h2>Add Student</h2>

<form method="POST">
<input name="name" placeholder="Name" required>
<input name="email" placeholder="Email" required>
<input name="password" placeholder="Password" required>
<input name="roll" placeholder="Roll No" required>
<button type="submit">Add</button>
</form>

</div>

</body>
</html>